@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
@import "~src/sass/_customize-bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~src/sass/_mixins.scss";
@import "~src/sass/_variables.scss";

body {
  font-family: "Dosis", sans-serif;
}

.dark {
  @include darkMode;
}

.light {
  @include whiteMode;
}

.navbar {
  background-color: var(--bg);
  box-shadow: 3px 3px 3px $primary;
}

.theme-toggle {
  color: var(--text-color);
  font-size: $big-size;
}

/********* card ***********/
.card {
  background-color: var(--card-bg);
  max-height: 500px;
  border: none;
  &:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.11), 0 10px 20px var(--primary);
  }
}

.card-body {
  color: var(--text-color);
}

.card-text {
  height: 80px;
}

.card-title {
  min-height: 70px;
  color: $primary;
}
/********* end card ***********/
