@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
@import "~src/sass/_customize-bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~src/sass/_mixins.scss";
@import "~src/sass/_variables.scss";

body {
  font-family: "Dosis", sans-serif;
}

.dark {
  @include darkMode;
}

.light {
  @include whiteMode;
}

.navbar {
  background-color: var(--bg);
  box-shadow: 3px 3px 3px $primary;
}

.theme-toggle {
  color: var(--text-color);
  font-size: $big-size;
  cursor: pointer;
}

/********* card ***********/
.card {
  background-color: var(--card-bg);
  min-height: 510px;
  border: none;
  &:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    transition-duration: 0.5s;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.11), 0 10px 15px var(--primary);
  }
}

.card-body {
  color: var(--text-color);
}

.card-text {
  height: 80px;
}

.card-title {
  min-height: 80px;
  color: $primary;
}
/********* end card ***********/
.custom-container {
  background-color: var(--container-bg);
  min-height: 100vh;
}

// loading indicator
.loading-box {
  z-index: 9999;
  position: absolute;
  width: 100%;
  max-height: 100vh;
  background-color:rgba(206, 201, 208, 0.66);
  display: none;
  top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.spinner-grow.box-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
  z-index: 10000;
  display: none;
}

.custom-spinner {
  margin: 50px;
}

.highlited1 {
  font-weight: 300;
  color: var(--text-color);
}
